includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- .docs

	ignoreErrors:
		- # Regex match result type inference limitation
			message: '~Strict comparison using === between non-falsy-string and ~'
			path: src/Utils/Annotations.php
